
body
{

	background-color:black;

}

.gun
{

	margin-left:650px;

}

h3
{

	color:#F6A935 ;
	margin-left: 220px;
	margin-top:-350px ;

}

.qyart
{

	color:#F6A935 ;
	margin-left: 50px;
	margin-top:-350px ;

}

.bdz
{

	color: #F6A935;
	margin-left: 50px;
	margin-top:-350px ;

}

.falos
{

	width: 1570px;
	height: 245px;
	margin-top:800px ;
	background-color: #363753
}

h2
{
	margin-top:-200px;
	margin-left:1200px;

}

img
{

	width:250px;
	height:200px;

}

.nomber
{

	color: #F6A935;

}

.inst
{

	color:#F6A935;
	margin-left:600px;
	margin-top:-500px;

}